#archetypes-fieldname-domain div.label,
#archetypes-fieldname-standardparts label.formQuestion {
    display:block;
}
#awstats {
    font-size:80%;
}
#awstats input,
#awstats select {
    font-size:90%;
}
#awstats h1 {
    text-decoration:none;
}
#awstats table {
    width:100%;
}
#awstats table th {
    padding:3px;
    background-color:#aaaaaa;
}
#awstats table td {
    padding:3px;
    text-align:center;
    vertical-align:top;
    background-color:#eeeeee;
}
#awstats .statschooser {
    padding:5px;
    background-color:#aaaaaa;
    margin:0px 0px 2px 0px;
}
#awstats .statschooser div {
    margin-bottom:5px;
}
#awstats .highlight {
    background-color:#bbbbbb;
}
#awstats .left {
    text-align:left;
}
#awstats .right {
    text-align:right;
}
#awstats .middle {
    vertical-align:middle;
}
#awstats .bottom {
    vertical-align:bottom;
}
#awstats .label {
    background-color:#aaaaaa;
}
#awstats .hitcolor {
    background-color:#ff004e;
}
#awstats .visitcolor {
    background-color:#fffc00;
}
#awstats .uniquecolor {
    background-color:#ffa800;
}
#awstats .pagecolor {
    background-color:#00aeff;
}
#awstats .bytecolor {
    background-color:#00ff48;
}
#awstats .sizeaveragecolor {
    background-color:#00ffcc;
}
#awstats .entrancecolor {
    background-color:#e4ff00;
}
#awstats .exitcolor {
    background-color:#ffc600;
}
#awstats .verticalgraph {
    width:0%;
}
#awstats .barwrapper {
    padding:0;
}
#awstats .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:8px;
}
#awstats .horizontalbar {
    background-image:url('++resource++collective.awstats.images/bar_hor_bg.png');
    background-repeat:repeat-x;
    padding-top:4px;
}
#awstats .days-in-month .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:4px;
}
#awstats .servertime .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:4px;
}
#awstats .monthgraph {
    width:8.33%;
}
#awstats .monthoverviewtable td {
    width:16.66%;
}
#awstats .dayinmonthoverviewtable td {
    width:20%;
}
#awstats .servertimeoverviewtable td {
    width:25%;
}
#awstats .countries .flag {
    width:15px;
}
#awstats .countries .country {
}
#awstats .countries .domain {
    width:30px;
}
#awstats .countries .datacolumn {
    width:15%;
}
#awstats .countries .countrygraph {
    width:155px;
}
#awstats .clients .datacolumn {
    width:6%;
}
#awstats .clients .lastmodified {
    width:150px;
}
#awstats .robots .datacolumn {
    width:6%;
}
#awstats .robots .lastmodified {
    width:150px;
}
#awstats .sessions .datacolumn {
    width:12%;
}
#awstats .datatypes .datacolumn {
    width:12%;
}
#awstats .datatypes .icon {
    width:16px;
}
#awstats .datatypes .postfix {
    width:60px;
}
#awstats .datatypes .filetype {
}
#awstats .site-url .datacolumn {
    width:10%;
}
#awstats .operatingsystems .datacolumn {
    width:10%;
}
#awstats .operatingsystems .icon {
    width:16px;
}
#awstats .browser .datacolumn {
    width:10%;
}
#awstats .browser .icon {
    width:16px;
}
#awstats .partlinks {
    list-style:none; 
    line-height:normal;
    margin:1em;
}
#awstats .partlinks li {
    padding-top:0.7em;
    padding-bottom:0.3em;
    padding-left:0.3em;
    display:inline;
}
#awstats .partlinks li a {
    height:auto;
    line-height:1.9em;
    color:#111111;
    text-decoration:none;
    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#111111;
    padding-right:0.5em;
}
#awstats .partlinks li a:hover {
    text-decoration:underline;
}
#awstats .partlinks li a.currentItem {
    font-weight:bold;
    text-decoration:underline;
}