#blueawstats {
    font-size:80%;
}
#blueawstats input,
#blueawstats select {
    font-size:90%;
}
#blueawstats h1 {
    text-decoration:none;
}
#blueawstats table {
    width:100%;
}
#blueawstats table th {
    padding:3px;
    background-color:#aaaaaa;
}
#blueawstats table td {
    padding:3px;
    text-align:center;
    vertical-align:top;
    background-color:#eeeeee;
}
#blueawstats .statschooser {
    padding:5px;
    background-color:#aaaaaa;
    margin:0px 0px 2px 0px;
}
#blueawstats .statschooser div {
    margin-bottom:5px;
}
#blueawstats .highlight {
    background-color:#bbbbbb;
}
#blueawstats .left {
    text-align:left;
}
#blueawstats .right {
    text-align:right;
}
#blueawstats .middle {
    vertical-align:middle;
}
#blueawstats .bottom {
    vertical-align:bottom;
}
#blueawstats .label {
    background-color:#aaaaaa;
}
#blueawstats .hitcolor {
    background-color:#ff004e;
}
#blueawstats .visitcolor {
    background-color:#fffc00;
}
#blueawstats .uniquecolor {
    background-color:#ffa800;
}
#blueawstats .pagecolor {
    background-color:#00aeff;
}
#blueawstats .bytecolor {
    background-color:#00ff48;
}
#blueawstats .sizeaveragecolor {
    background-color:#00ffcc;
}
#blueawstats .entrancecolor {
    background-color:#e4ff00;
}
#blueawstats .exitcolor {
    background-color:#ffc600;
}
#blueawstats .verticalgraph {
    width:0%;
}
#blueawstats .barwrapper {
    padding:0;
}
#blueawstats .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:8px;
}
#blueawstats .horizontalbar {
    background-image:url('++resource++collective.awstats.images/bar_hor_bg.png');
    background-repeat:repeat-x;
    padding-top:4px;
}
#blueawstats .days-in-month .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:4px;
}
#blueawstats .servertime .verticalbar {
    background-image:url('++resource++collective.awstats.images/bar_bg.png');
    background-repeat:repeat-y;
    width:4px;
}
#blueawstats .monthgraph {
    width:8.33%;
}
#blueawstats .monthoverviewtable td {
    width:16.66%;
}
#blueawstats .dayinmonthoverviewtable td {
    width:20%;
}
#blueawstats .servertimeoverviewtable td {
    width:25%;
}
#blueawstats .countries .flag {
    width:15px;
}
#blueawstats .countries .country {
}
#blueawstats .countries .domain {
    width:30px;
}
#blueawstats .countries .datacolumn {
    width:15%;
}
#blueawstats .countries .countrygraph {
    width:155px;
}
#blueawstats .clients .datacolumn {
    width:6%;
}
#blueawstats .clients .lastmodified {
    width:150px;
}
#blueawstats .robots .datacolumn {
    width:6%;
}
#blueawstats .robots .lastmodified {
    width:150px;
}
#blueawstats .sessions .datacolumn {
    width:12%;
}
#blueawstats .datatypes .datacolumn {
    width:12%;
}
#blueawstats .datatypes .icon {
    width:16px;
}
#blueawstats .datatypes .postfix {
    width:60px;
}
#blueawstats .datatypes .filetype {
}
#blueawstats .site-url .datacolumn {
    width:10%;
}
#blueawstats .operatingsystems .datacolumn {
    width:10%;
}
#blueawstats .operatingsystems .icon {
    width:16px;
}
#blueawstats .browser .datacolumn {
    width:10%;
}
#blueawstats .browser .icon {
    width:16px;
}
#blueawstats .partlinks {
    list-style:none; 
    line-height:normal;
    margin:1em;
}
#blueawstats .partlinks li {
    padding-top:0.7em;
    padding-bottom:0.3em;
    padding-left:0.3em;
    display:inline;
}
#blueawstats .partlinks li a {
    height:auto;
    line-height:1.9em;
    color:#111111;
    text-decoration:none;
    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#111111;
    padding-right:0.5em;
}
#blueawstats .partlinks li a:hover {
    text-decoration:underline;
}
#blueawstats .partlinks li a.currentItem {
    font-weight:bold;
    text-decoration:underline;
}